body {
	text-align: center;
	margin: 0;
}
header {
	background-color: #f15b31;
	color: #ffffff;
	padding: 30px 20px;
}
nav {
	background-color: #00a6b3;
	color: #ffffff;
	padding-top: 20px;
	padding-bottom: 20px;
}
main {
	width: 850px;
	margin: 35px auto;

}

h1, a, h2{
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: raleway;
}
h1 {
	color: #0d2c40;
	font-weight: 400;
	font-size: 45px;
	margin: 0;

}
a {
	color: #f15b31;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
	margin: 0 20px;
	display: inline;
	border-bottom: 2px solid transparent;
}
a:hover {
	border-color: white;
}
h2 {
color: #0d2c40;
font-weight: 600;
font-size: 20px;
}
p {
	font-family: "Droid Serif";
	line-height: 26px;
	font-size: 18px;
}
img {
	margin: 40px 8px 0 8px;
}
footer {
	text-transform: uppercase;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #0d2c40;
	color: white;
	font-size: 14px;
	letter-spacing: 0.08em;
	font-weight: 500;
}	

.copyright, .message {
	font-family: raleway;
}
.copyright {
float: left;
}
.message {
	float: right;
}
.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}
.name {
	color: #f15b31;
	font-weight: 700;

}